{% extends "layouts/navegation.html" %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mercadito</title>
</head>
<body>

    <div class=" m-0  vh-100 row justify-content-center align-items-center">
        <div class=" col-auto p-5 text center">
            <h1 class="height">Bienvenido a Mercadito</h1>
        </div>
    </div>
</body>
</html>

{% endblock %}